/* qreuhwkgsf */
@font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2');
  }
  
  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'); 
  }
  
  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'); 
  }
 
  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2')
  }

:root{
--brand-color: #819B57;
--brand-dark-color:#31261A;
--brand-light-color: #FAF4EA;
}
/* Base */
* {
    box-sizing: border-box;
}
/* Global section */

body{
    color: var(--brand-dark-color);
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

address{
    font-style: normal;
}
ul{
    list-style-type: none;
}
/* Link section */
a{
    text-decoration: none;
}

h1{
    /* color:#1a13a0; */
    font-family: Poppins, sans-serif;
    font-weight: 900;
    font-size: 128px;
    text-decoration: none;
    text-align: center;
    color: var(--brand-light-color);
}

h1 span{
    color:var(--brand-color);
}

.nav-class{
    border: 5px solid yellowgreen;
 }

 .order-call-button{
    width: 238px;
    height: 59px;
    border:  2px;
    border-radius: 8px;
    padding: 16px, 32px ;

    background-color:var(--brand-color) ;
    font-weight: 600;
    font: Poppins;
    color: #FAF4EA;
 }

 .order-call-button:hover{
    background-color: gray;
 }
.nav-link{
    color: #FAF4EA;
}

.nav-link:hover{
    color: var(--brand-color);
    font-weight: 600;
}

 .section-first-main{
    color: rgb(215, 24, 24);
 }

.adventages-list{
    color: #FAF4EA;
    background-color: var(--brand-color);
}

.adventages-items{
    font-weight: 300;
    font-size: 20px;
}

.section-title{
    font-weight: 900;
    font-size: 64px;
    line-height: 1.3;
    color:rgba(49, 38, 26, 1);
}
/* Chif section */
.chef-title{
    font-weight: 600;
    font-size: 40px;
}
/* Forman section */
.format-title{
    font-weight: 600;
    font-size: 24px;
}
.forman-text{
    font-weight: 300;
    font-size: 14px;
}


/* Traditions section */
.traditions-text{
    white-space: nowrap;
}

.uppercase{
    text-transform: uppercase;
    /* color: var(--brand-color); */
    font-weight: 600;
}

.traditions-text span:last-child{
    color: var(--brand-color);
}
/* Footer */
.address-link{
    font-size: 16px;
    font-weight: 300;
    color: var(--brand-light-color);
}

.address-link:hover{
   color:var(--brand-color)
}

.address-copyright{
    font-size: 14px;
    color: #A18268;
}