/* qreuhwkgsf */
@font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2');
  }
  
  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'); 
  }
  
  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'); 
  }
 
  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2')
  }

:root{
--brand-color: #819B57;
--brand-dark-color:#31261A;
--brand-light-color: #FAF4EA;
}
/* Base */
* {
    box-sizing: border-box;
}
/* Global section */

body{
    color: var(--brand-dark-color);
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    margin-top: 0px;
}

address{
    font-style: normal;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/* Link section */
a{
    text-decoration: none;
}
.hero-section{
    padding: 272px 0;
    
    text-align: center;
}
h1{
    /* color:#1a13a0; */
    font-family: Poppins, sans-serif;
    font-weight: 900;
    font-size: 128px;
    text-decoration: none;
    text-align: center;
    color: var(--brand-light-color);
    margin-bottom: 0;
}

h1 span{
    color:var(--brand-color);
}

header{
    background-color: lightgray;
}


/* Header section */
.header-container{
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-class{
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 40px;
}

.header-links{
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
}
.container{
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}
/* .section{
    padding: 48px 0;
} */

.section:nth-child(3){
    padding-top: 96px;
}

 .order-call-button{
    width: 238px;
    height: 59px;
    border:  2px;
    border-radius: 8px;
    padding: 16px 32px ;

    background-color:var(--brand-color) ;
    font-weight: 600;
    font: Poppins;
    color: #FAF4EA;
 }

 .order-call-button:hover{
    background-color: gray;
 }
.nav-link{
    color: #FAF4EA;
}

.nav-link:hover{
    color: var(--brand-color);
    font-weight: 600;
}

 .section-first-main{
    color: rgb(215, 24, 24);
 }

 /* Adventages section */

 .advantages-hide{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden 
}

 .advantages-section{
    background-color: var(--brand-color);
    padding: 16px 0;
 }

.adventages-list{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.advantages-items{
    color: #FAF4EA;
    font-weight: 300;
    font-size: 20px;
}

.section-title{
    font-weight: 900;
    font-size: 64px;
    line-height: 1.3;
    color:rgba(49, 38, 26, 1);
}

/* Traditions section */
.tradition-section{
    padding-top: 96px;
}

.traditions-text-sec{
    max-width: 378px;
}
.tradition-container{
    display: flex;
    gap: 100px;
}

.traditions-text-container{
    display: flex;
    flex-direction: column;
    gap: 42px;
}
.traditional-title{
    margin-bottom: 42px;
    font-size: 64px;
}

.uppercase{
    text-transform: uppercase;
    color: var(--brand-color);
    font-weight: 600;
}

/* .traditions-text span:last-child{
    color: var(--brand-color);
} */
.brand-color{
    color: var(--brand-color);
    font-weight: 600;
}
/* Chif section */
.chef-title{
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 40px;
    
}

.chefs-title{
    margin-bottom: 80px;    
}

/* Forman section */
.format-title{
    font-weight: 600;
    font-size: 24px;
}
.forman-text{
    font-weight: 300;
    font-size: 14px;
}

.formats-title{
    margin-bottom: 80px;    
}




/* Contact section */

.contacts-title{
    margin-bottom: 16px;
}
/* Footer */
.address-link{
    font-size: 16px;
    font-weight: 300;
    color: var(--brand-light-color);
}

.address-link:hover{
   color:var(--brand-color)
}

.address-copyright{
    font-size: 14px;
    color: #A18268;
}