:root{
--brand-color: #819B57;
}
/* Global section */

body{
font-family: Poppins, serif;
}
ul{
    list-style-type: none;
}
/* Link section */
a{
    text-decoration: none;
}

h1{
    color:#1a13a0;
    font-family: Poppins, sans-serif;
    font-weight: 900;
    font-size: 128px;
    text-decoration: none;
    text-align: center;
    /* text-transform: uppercase; */
}

h1 span{
    color:var(--brand-color);
}
.adventages-list{
    color: #FAF4EA;
    background-color: var(--brand-color);
}

.section-title{
    color:rgba(49, 38, 26, 1);
}
p{
    border: 1px solid red;
}
.nav-class{
    border: 5px solid yellowgreen;
 }

 #nav-id{
    background-color: aquamarine;
 }

 .section-first-main{
    color: rgb(215, 24, 24);
 }

 .order-call-button{
    width: 238px;
    height: 59px;
    border:  2px;
    border-radius: 8px;
    padding: 16px, 32px ;

    background-color:var(--brand-color) ;
    font-size: 18px;
    line-height: 27px;
    font: Poppins;
    color: #FAF4EA;

 }
 .order-call-button:hover{
    background-color: gray;
 }
.nav-link{
    color: #FAF4EA;
}

.nav-link:hover{
    color: var(--brand-color);
}

/* Traditions section */
.traditions-text{
    white-space: nowrap;
}

.uppercase{
    text-transform: uppercase;
    color: var(--brand-color);
}

.traditions-text span:last-child{
    color: var(--brand-color);
}

/* -42:43 font-size */